<div class="container">

  <table class="table table-striped table-hover table-bordered border-primary">
    <thead>
    <tr>
      <th>Races </th>
      <th>Date </th>
      <th>Location </th>
      <th>Status</th>
      <th>Info</th>
    </tr>
    </thead>

    <tbody>
    <% @data.each do |element| %>
      <tr>
        <td><%= element[:raceName]%></td>
        <td><%= element[:raceDate]%></td>
        <td><%= element[:raceLocation]%></td>
        <td><%= element[:raceStatus]%></td>
        <% if element[:raceURL] != nil && element[:raceStatus] == 'Finished' %>
          <td> <%= link_to "Results", element[:raceURL]%>	 </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
