<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">

  <div class="row">

    <div class="col">

    <table class="table table-striped border-primary  table-dark.table-sm constructor_table">
    <thead>
    <tr>
      <th>Position </th>
      <th></th>
      <th>Team </th>
      <th>Points </th>
      <th>Wins </th>

    </tr>
    </thead>

    <tbody>
    <% @constructor_data.each do |constructor| %>
      <tr>
        <td><%= constructor[:constructorPosition] %></td>
        <td><%= car_image(constructor[:constructorName])%> </td>
        <td><%= constructor[:constructorName]%></td>
        <td><%= constructor[:constructorPoints]%></td>
        <td><%= constructor[:constructorWins]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>

    <div class="col">
      <canvas id="myChart" width="400" height="400"></canvas>
      <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Redbull', 'Ferrari', 'Mercedez', 'McLaren', 'Alpine', 'Alfa Romeo', 'Haas F1 Team' , 'Alpha Tauri', 'Aston Martin', 'Williams'],
            datasets: [{
              label: '# Points',

              data: <%= pie_chart(@constructor_data)%>,
              backgroundColor: [
                'rgba(6,0,239)',
                'rgba(220,0,0)',
                'rgba(0,210,90)',
                'rgba(255,135,0)',
                'rgba(0,144,255)',
                'rgba(144,0,0)',
                'rgba(255,255,255',
                'rgba(43,69,98)',
                'rgba(0,111,98)',
                'rgba(0,90,255)'


              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true

              }
            }
          }
        });
      </script>
    </div>
  </div>
</div>