<div class="container">

  <table class="table table-striped border-primary  table-dark.table-sm constructor_table">
    <thead>
    <tr>
      <th>Position </th>
      <th></th>
      <th>Team </th>
      <th>Points </th>
      <th>Wins </th>

    </tr>
    </thead>

    <tbody>
    <% @constructor_data.each do |constructor| %>
      <tr>
        <td><%= constructor[:constructorPosition] %></td>
        <td><%= car_image(constructor[:constructorName])%> </td>
        <td><%= constructor[:constructorName]%></td>
        <td><%= constructor[:constructorPoints]%></td>
        <td><%= constructor[:constructorWins]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>