<table class="table table-striped border-primary  table-dark  .table-sm constructor_table">

  <th>Driver Profile</th>
  <th> Position </th>
  <th>Nationality </th>
  <th>First Name </th>
  <th>Last Name </th>
  <th>Team </th>
  <th>Code</th>
  <th>Points </th>

  </tr>
  </thead>
  <tbody>
  <% @data.each do |driver| %>
    <tr>
      <td><%= link_to "Driver Profile", driver_bio_path(driver_full_name(driver[:driverFirstName],driver[:driverLastName])),  class: "btn btn-primary"%> </td>
      <td><%= driver[:driverPosition]%></td>
      <td> <span class="position"><%=  location_flag(driver[:driverNationality])%></span></td>
      <td><%= driver[:driverFirstName]%></td>
      <td><%= driver[:driverLastName]%></td>
      <td><%= driver[:driverConstructor]%></td>
      <td><%= driver[:driverCode]%></td>
      <td><span class="points"> <%= driver[:driverPoints]%></i></span></td>
    </tr>
  <% end %>
  </tbody>
</table>