<div class="container">
  <div class="row">
    <div class="col">

      <table class="table-container">
        <tr class="table-content driver1">
          <td>
            <span class="position">1</span>
            <span class="driver-name"><%= @data[0][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[0][:driverLastName]%></span>
            <span class="team">Red Bull Racing</span>
          </td>
          <td>
          <span class="points"><%= @data[0][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver2">
          <td>
            <span class="position">2</span>
            <span class="driver-name"><%= @data[1][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[1][:driverLastName]%></span>
            <span class="team">Red Bull Racing</span>
          </td>
          <td>
          <span class="points"><%= @data[1][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver4">
          <td>
            <span class="position">3</span>
            <span class="driver-name"><%= @data[2][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[2][:driverLastName]%></span>
            <span class="team">Ferrari</span>
          </td>
          <td>
          <span class="points"><%= @data[2][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver4">
          <td>
            <span class="position">4</span>
            <span class="driver-name"><%= @data[3][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[3][:driverLastName]%></span>
            <span class="team">Mercedes</span>
          </td>
          <td>
          <span class="points"><%= @data[3][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
          </td>
        <tr class="table-content driver5">
          <td>
            <span class="position">5</span>
            <span class="driver-name"><%= @data[4][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[4][:driverLastName]%></span>
            <span class="team">Ferrari</span>
          </td>
          <td>
          <span class="points"><%= @data[4][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver6">
    <td>
      <span class="position">6</span>
      <span class="driver-name"><%= @data[5][:driverFirstName]%></span>
      <span class="driver-surname"><%= @data[5][:driverLastName]%></span>
      <span class="team">Mercedes</span>
      <!--    <% if @data[5][:driverURL] != nil %>
      <span class="team"><%= link_to "Profile", @data[5][:driverURL]%></span>
              <% end %> -->
    </td>
    <td>
          <span class="points"><%= @data[5][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
    </td>
  </tr>
  <tr class="table-content driver7">
    <td>
      <span class="position">7</span>
      <span class="driver-name"><%= @data[6][:driverFirstName]%></span>
      <span class="driver-surname"><%= @data[6][:driverLastName]%></span>
      <span class="team">MacLaren</span>
    </td>
    <td>
          <span class="points"><%= @data[5][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
    </td>
  </tr>
  <tr class="table-content driver8">
    <td>
      <span class="position">8</span>
      <span class="driver-name"><%= @data[7][:driverFirstName]%></span>
      <span class="driver-surname"><%= @data[7][:driverLastName]%></span>
      <span class="team">Alpha Romeo</span>
    </td>
    <td>
          <span class="points"><%= @data[7][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
    </td>
  <tr class="table-content driver9">
    <td>
      <span class="position">9</span>
      <span class="driver-name"><%= @data[8][:driverFirstName]%></span>
      <span class="driver-surname"><%= @data[8][:driverLastName]%></span>
      <span class="team">Alpine</span>
    </td>
    <td>
          <span class="points"><%= @data[8][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
    </td>
  <tr class="table-content driver10">
    <td>
      <span class="position">10</span>
      <span class="driver-name"><%= @data[9][:driverFirstName]%></span>
      <span class="driver-surname"><%= @data[9][:driverLastName]%></span>
      <span class="team">Alpine</span>
    </td>
    <td>
          <span class="points"><%= @data[9][:driverPoints]%> PST</span
          ><i class="fas fa-chevron-right"></i>
    </td>
  </tr>
</table>

  <div class="col">


  </div>

  <div class="w-100"></div>
</div>
  </div>




  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%">Season progress : 40%</div>
  </div>



  <table class="table table-striped">
    <thead>
    <tr>
      <th>Position </th>
      <th>First Name </th>
      <th>Last Name </th>
      <th>Code</th>
      <th>Points </th>
    </tr>
    </thead>

    <tbody>
    <% @data.each do |driver| %>
      <tr>
        <td><%= driver[:driverPosition]%></td>
        <td><%= driver[:driverFirstName]%></td>
        <td><%= driver[:driverLastName]%></td>
        <td><%= driver[:driverCode]%></td>
        <td><span class="points"> <%= driver[:driverPoints]%></span><i class="fas fa-chevron-right"></i></td>
      </tr>
    <% end %> -->
    </tbody>
  </table>
</div>