<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <table class="table-container">
        <tr class="table-content driver1">
          <td>
            <span class="position">1</span>
            <span class="driver-name"><%= @data[0][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[0][:driverLastName]%></span>
            <span class="team">Red Bull Racing</span>
          </td>
          <td>
             <span class="points"><%= @data[0][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver2">
          <td>
            <span class="position">2</span>
            <span class="driver-name"><%= @data[1][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[1][:driverLastName]%></span>
            <span class="team">Red Bull Racing</span>
          </td>
          <td>
            <span class="points"><%= @data[1][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver4">
          <td>
            <span class="position">3</span>
            <span class="driver-name"><%= @data[2][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[2][:driverLastName]%></span>
            <span class="team">Ferrari</span>
          </td>
          <td>
            <span class="points"><%= @data[2][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver4">
          <td>
            <span class="position">4</span>
            <span class="driver-name"><%= @data[3][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[3][:driverLastName]%></span>
            <span class="team">Mercedes</span>
          </td>
          <td>
            <span class="points"><%= @data[3][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        <tr class="table-content driver5">
          <td>
            <span class="position">5</span>
            <span class="driver-name"><%= @data[4][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[4][:driverLastName]%></span>
            <span class="team">Ferrari</span>
          </td>
          <td>
            <span class="points"><%= @data[4][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver6">
          <td>
            <span class="position">6</span>
            <span class="driver-name"><%= @data[5][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[5][:driverLastName]%></span>
            <span class="team">Mercedes</span>
            <!--    <% if @data[5][:driverURL] != nil %>
            <span class="team"><%= link_to "Profile", @data[5][:driverURL]%></span>
            <% end %> -->
          </td>
          <td>
            <span class="points"><%= @data[5][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver7">
          <td>
            <span class="position">7</span>
            <span class="driver-name"><%= @data[6][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[6][:driverLastName]%></span>
            <span class="team">MacLaren</span>
          </td>
          <td>
            <span class="points"><%= @data[5][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
        <tr class="table-content driver8">
          <td>
            <span class="position">8</span>
            <span class="driver-name"><%= @data[7][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[7][:driverLastName]%></span>
            <span class="team">Alpha Romeo</span>
          </td>
          <td>
            <span class="points"><%= @data[7][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        <tr class="table-content driver9">
          <td>
            <span class="position">9</span>
            <span class="driver-name"><%= @data[8][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[8][:driverLastName]%></span>
            <span class="team">Alpine</span>
          </td>
          <td>
            <span class="points"><%= @data[8][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        <tr class="table-content driver10">
          <td>
            <span class="position">10</span>
            <span class="driver-name"><%= @data[9][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[9][:driverLastName]%></span>
            <span class="team">Alpine</span>
          </td>
          <td>
            <span class="points"><%= @data[9][:driverPoints]%> PTS</span>
            <i class="fas fa-chevron-right"></i>
          </td>
        </tr>
      </table>

  </div>


    <div class="col align-items-end">

      <h1>Latest News</h1>

      <div class="card w-70" style="width: 30rem;">
        <ul class="list-group list-group-flush">
          <% @race_news.each do |news| %>
            <li class="list-group-item"> <%= link_to news[:title], news[:link] %> <%= news[:pubDate] %> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
              <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
              <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
            </svg></li>
          <% end %>
        </ul>
      </div>

    </div>


  <div class="w-100"></div>
</div>
  </div>