
<div class="row">
  <div class="col">
    <table class="table-container driver_standings table_row ">
        <tr class="table-content <%=  @data[0][:driverConstructor]%>">
          <td>
            <span class="position">1</span>
            <span class="position"><%= location_flag(@data[0][:driverNationality])%></span>
            <span class="driver-name"><%= @data[0][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[0][:driverLastName]%></span>
            <span class="team"><%= @data[0][:driverConstructor]%></span>
          </td>
          <td>
             <span class="points"><%= @data[0][:driverPoints]%> PTS</span>
          </td>
        </tr>
        <tr class="table-content driver2 <%= @data[1][:driverConstructor]%>">
          <td>
            <span class="position">2</span>
            <span class="position"><%= location_flag(@data[1][:driverNationality])%></span>
            <span class="driver-name"><%= @data[1][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[1][:driverLastName]%></span>
            <span class="team"><%= @data[1][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[1][:driverPoints]%> PTS</span>
          </td>
        </tr>
        <tr class="table-content driver3 <%= @data[2][:driverConstructor]%>">
          <td>
            <span class="position">3</span>
            <span class="position"><%= location_flag(@data[2][:driverNationality])%></span>
            <span class="driver-name"><%= @data[2][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[2][:driverLastName]%></span>
            <span class="team"><%= @data[2][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[2][:driverPoints]%> PTS</span>
          </td>
        </tr>
        <tr class="table-content driver4 <%= @data[3][:driverConstructor]%>">
          <td>
            <span class="position">4</span>
            <span class="position"><%= location_flag(@data[3][:driverNationality])%></span>
            <span class="driver-name"><%= @data[3][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[3][:driverLastName]%></span>
            <span class="team"><%= @data[3][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[3][:driverPoints]%> PTS</span>
          </td>
        <tr class="table-content <%= @data[4][:driverConstructor]%>">
          <td>
            <span class="position">5</span>
            <span class="position"><%= location_flag(@data[4][:driverNationality])%></span>
            <span class="driver-name"><%= @data[4][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[4][:driverLastName]%></span>
            <span class="team"><%= @data[4][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[4][:driverPoints]%> PTS</span>

          </td>
        </tr>
        <tr class="table-content driver6 <%= @data[5][:driverConstructor]%>" >
          <td>
            <span class="position">6</span>
            <span class="position"><%= location_flag(@data[5][:driverNationality])%></span>
            <span class="driver-name"><%= @data[5][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[5][:driverLastName]%></span>
            <span class="team"><%= @data[5][:driverConstructor]%></span>
            <!--    <% if @data[5][:driverURL] != nil %>
            <span class="team"><%= link_to "Profile", @data[5][:driverURL]%></span>
            <% end %> -->
          </td>
          <td>
            <span class="points"><%= @data[5][:driverPoints]%> PTS</span>

          </td>
        </tr>
        <tr class="table-content driver7 <%= @data[6][:driverConstructor]%>">
          <td>
            <span class="position">7</span>
            <span class="position"><%= location_flag(@data[6][:driverNationality])%></span>
            <span class="driver-name"><%= @data[6][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[6][:driverLastName]%></span>
            <span class="team"><%= @data[6][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[6][:driverPoints]%> PTS</span>

          </td>
        </tr>
        <tr class="table-content driver8 <%= @data[7][:driverConstructor]%>">
          <td>
            <span class="position">8</span>
            <span class="position"><%= location_flag(@data[7][:driverNationality])%></span>
            <span class="driver-name"><%= @data[7][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[7][:driverLastName]%></span>
            <span class="team"><%= @data[7][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[7][:driverPoints]%> PTS</span>

          </td>
        <tr class="table-content driver9 <%= @data[8][:driverConstructor]%>">
          <td>
            <span class="position">9</span>
            <span class="position"><%= location_flag(@data[8][:driverNationality])%></span>
            <span class="driver-name"><%= @data[8][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[8][:driverLastName]%></span>
            <span class="team"><%= @data[8][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[8][:driverPoints]%> PTS</span>

          </td>
        <tr class="table-content driver10 <%= @data[9][:driverConstructor]%>">
          <td>
            <span class="position">10</span>
            <span class="position"><%= location_flag(@data[9][:driverNationality])%></span>
            <span class="driver-name"><%= @data[9][:driverFirstName]%></span>
            <span class="driver-surname"><%= @data[9][:driverLastName]%></span>
            <span class="team"><%= @data[9][:driverConstructor]%></span>
          </td>
          <td>
            <span class="points"><%= @data[9][:driverPoints]%> PTS</span>

          </td>
        </tr>
      </table>

  </div>


  <div class="col">








        <div class="podium">
            <div class="podium__item">
              <div class="span6"> <img class="driver_img" <%= image_tag("charles")  %></div>
<!--              <p class="podium__city">  <span class="driver-name"><%#= @data[1][:driverFirstName]%></span>-->
<!--                <span class="driver-surname"><%#= @data[1][:driverLastName]%></span></p>-->
              <div class="podium__rank second">2</div>
            </div>
            <div class="podium__item">


              <div class="span6"> <img class="driver_img" <%= image_tag("max") %></div>
<!--              <p class="podium__city"><span class="driver-name"><%#= @data[0][:driverFirstName]%></span>-->
<!--                <span class="driver-surname"><%#= @data[0][:driverLastName]%></span></p>-->
              <div class="podium__rank first">
                <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                  <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                    <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;"/>
                  </g>
                </svg>
              </div>
            </div>
            <div class="podium__item">
              <div class="span6"> <img class="driver_img" <%= image_tag("fire")  %> </img>
              </div>
<!--              <p class="podium__city">  <span class="driver-name"><%#= @data[2][:driverFirstName]%></span>-->
<!--                <span class="driver-surname"><%#= @data[2][:driverLastName]%></span></p>-->
              <div class="podium__rank third">3</div>
            </div>
          </div>




          </div>


        </div>
        </div>
        <%= link_to "Full Standings", full_standings_path , :class => "full_standings btn btn-primary" %>
      </div>
    </div>
  </div>